html{
    height: 100%;
}
body{
    background-color: #1B8B8A;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
/*Hide the Dialog for Add Person or Edit Person*/
#dialog-Register{
    display: none;
}
/*Size of the colums where is shown the Edit and Remove button*/
#colum_Edit, #colum_Remove, #editPerson, #removePerson{
    width: 100px;
}
/*Background for the head of the DataTable*/
thead{
    background-color: white;
}
/*Ordering the textboxes that contain the Dialog for Add a Person*/
#name, #lastname, #user, #password, #years{
    display: block;
}

h1{
    text-align: center;
}
#btn_Logout{
    float: right;
    margin-top: -5%;
}
/*Main background*/
#content_Main{
    height: 100%;
    background-color: #6E6C6C;
}
/*Background of Login*/
#content_Background{
    background-color: #D4D0D0;
    height: 100%;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
/*Contain the Form of Login*/
#content_Form{
    margin-top: 50%;
}
#action{
    display: none;
}
#btn_Register{
    float: right;
}